
*{
      margin: 0;
      box-sizing: border-box;
}
body{
      background-color: #F0F2F5;
}
.login_form{
      margin: auto;
      background-color: white;
      justify-content: center;
      width: 400px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(27, 27, 27, 0.2);
}
input{
      width: 80%;
      margin-top: 10px;
      height: 45px;
      border-radius: 5px;
      padding: 6px;
      font-size: 14px;
      border: 0.1px solid rgba(27, 27, 27, 0.2);
}
button{
      margin: 20px 30% ;
      height: 39px;
      width: 100px;
      border: 0;
      background-color: #0c5fda;
      color: white;
      border-radius: 20px;
      cursor: pointer;
}
p{
      text-align: center;
      font-size: 18px;
}